body#body.body {
	// background-color: #e6e6e6;
	// padding-bottom: 5000px;
}
div#btn-group.btn-group {
	margin-bottom: 8%
}
div#input_name #addName {
	margin-bottom: 10%
}
div#wrapperForResult {
	position: relative
}
div#divForResult #deleteButton {
	position: absolute;
	bottom: -100%;
	left: 40%;
}
div#timer{
	position: relative;
}
div#timer a#reset{
	position: absolute;
	right: 0;
	bottom: 5%;
	width: 25%;
}
div#blank{
	padding-bottom: 100%;
}
button#allNameOK{
	display: none;
}